<%= @goal.name %> -
<%= "Public" if @goal.public %>  -
<%= @goal.completed ? "Complete!" : "In Progress" %>


<h4>Comments</h4>
<% @goal.comments.each do |comment| %>
<%= comment.body %><br><br>
<% end %>

<h5>Add Comment</h5>
<form class="" action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[id]" value="<%= @goal.id %>">
  <input type="hidden" name="comment[commentable_type]" value="Goal">

  <label for="comment_body"></label>
  <input type="text" name="comment[body]" id="comment_body"> <br>

  <input type="submit" name="name" value="Comment">
</form>
